<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="view == true">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center mt-1 " >Sucesso</h5>
                <div class="margin-top: 23px;">
                    <div class="mt3 d-flex justify-content-center">
                        <img src="https://www.clubemultinivel.com.br/escritorio/img/sucesso.png" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style="    max-width: 168px;
                        height: 148px;
                        margin: 0px;
                        width: 250;" alt="ClubeMultinivel - Escritório Virtual" jsname="kn3ccd" aria-hidden="false">
                    </div>
                    <div class="mt-4">
                        <p class="text-center text-black mt-3 mb-1">{{title}}</p>
                        <p class="text-center text-success mb-1">{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
