<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="view">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center mt-1 " >houve um erro</h5>
                <div class="margin-top: 23px;">
                    <div class="mt3 d-flex justify-content-center">
                    <img src="https://freesvg.org/img/1538154274.png" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style=" height: 148px;
                    margin: 0px;
                    width: 250;" alt="Error Icon | Free SVG" jsname="kn3ccd" aria-hidden="false">
                    </div>
                    <div class="mt-4">
                        <p class="text-center text-black mt-3 mb-1">{{title}}</p>
                        <p class="text-center text-danger mb-1">{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

